certifi==2018.1.18
chardet==3.0.4
click==6.7
diskcache==3.0.1
girder-client==2.3.0
idna==2.6
numpy==1.14.2
opencv-python==3.4.0.12
Pillow==8.1.1
pylaw==1.0
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
scipy==1.0.1
six==1.11.0
torch==0.3.1
torchvision==0.2.0
urllib3==1.22
